#user_nav {
}

.flash_notice, .flash_error, .flash_alert, .user_message, .authorized_context {
  padding: 0 0.5em 0.5em 0.5em;
  margin: 0 0 1em 0;
}



.flash_notice {
  padding: 0.7em;
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error, .flash_alert {
  padding: 0.7em;
  background-color: #FCC;
  border: solid 1px #C66;
}

.user_message {
  background-color: #e1e1e1;
  border: solid 1px #CCC;
}

.authorized_context{
  background-color: #e1e1e1;
  border: solid 1px #CCC;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 100%;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#mail_message {
  background-color: #DDD;
  padding: 20px 20px;
  margin: 20px 0;
}

.button_to {
  display: inline-block;
}

.user_list {
}

.authorized {

}

.user {
  display: inline-block;
  width: 400px;
}

.show_map {
  width: 100%; 
  height: 300px
}

#map_edit {
    width: 75%;
    height: 400px;
    margin: 1em 0 2em 0;
    margin-left: 25%;
}

#map_view {
    width: 100%;
    height: 400px;
    margin: 1em 0 2em 0;
}

table.tiny-calendar {
  font-size: 89%;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
	background-color: #f7f7f7;
  width: 100%;
  text-align: left;
}

table.tiny-calendar td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 90px;
}

table.tiny-calendar caption {
  font-size: 150%;
  padding: 0.5em;
}

table.tiny-calendar tr.odd {
	background-color: #f7f7f7;
}
table.tiny-calendar tr.even {
	background-color: white;
}

.tiny-calendar a {
  /*background-color: lightyellow;*/
  text-decoration: none;
  color: blue;
  font-weight: normal;
}

.tiny-calendar a:link{
  color: #000;
}





.tiny-calendar a:visited{
  color: purple;
}

.tiny-calendar a:active{
  color: #e72f2a;
}

.tiny-calendar a:hover{
  color: #e72f2a;
}
 
table.general {
	border-width: 1px;
	border-spacing: 2px;
  margin-right: 1em;
  margin-bottom: 1em;
	background-color: #f7f7f7;
  width: 100%;
  text-align: left;
}


table.general caption {
  visibility: hidden; 
}

table.general th {
	border-width: 1px;
  padding: 0.1em 0.2em 0.1em 0.2em;
	background-color: #f7f7f7;
	font: 14px Arial, Helvetica, sans-serif;
}

table.general td {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

table.general tr.odd {
	background-color: #f7f7f7;
}
table.general tr.even {
	background-color: white;
}

table.general input {
  font-size: 80%
}

table.general td {
  vertical-align: top;
  }
    
.number_column {
  text-align: right;
}
  
.wikipedia-source {
  font-size: 80%;
}

.logged_in_avatar {
  vertical-align: text-top;
}



.license {
  font-size: 80%;
  margin: 1em 1em 1em 1em;
}

.counter {
  font-size: 2em;
  font-family: Verdana, Tahoma, Helvetica, Arial;
  background-color: black;
  padding: 0.2em;
  padding-left: 0.7em;
  letter-spacing: 0.5em;
  /* text-decoration: line-through; */
  color: black;

}
.counter-text {
  color: #f7f7f7;
}

.facet-1 {
	display: block;
	font: bold 11px Rockwell,Georgia,serif;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}

.facet-2 {
  margin: 0 0 0 0;
}

#facet li {
  border-bottom-style: none;
}



#user_account_box {
  height: 68px;
  width: 300px;
  float: right;
}

#user_account {
  font-size: 80%;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
#user_avatar {
  float: left;
  margin: 0 5px 5px 0
  }
  
#user_form {
  font-size: 80%;
  width: 100%;
  float: right;
  margin: 5px 0 5px 0;
}

#user_form  label{
}

#user_form input {
  font-size: 1em;
  margin: 2px 0 2px 0;
}

#login_email{
  float: left;
}

#login_passwd{
  float: left;
  margin: 0 2px 0 2px;
}


#login_login{
  float: left;

}

#login_auto{
  clear: both;
}

.image_box {
  background-color: #dadada;
  padding: 5px 5px 1px 5px;
  margin: 0 0 5px 0;
}

.image_column{
  float: right;
  margin-left: 10px;
}

.image_caption {
  font-size: 80%;
  margin-top: -5px;
}


.image_2{
}

.image_2a {
  float: left;
}

.image_2b {
  float: right;
}

.event_left {
}

.event_contact {
  clear: both;
}

.organizer_user {
  margin: 0 1em 0 0;
}

#category_mum_input ol li label {
  padding-top: 0;
  margin: 0;
}




.category-level-0 {
}

.category-level-1 {
}

.category-level-1 li {
  font-weight: bold;
}

.category-level-2 {
}

.category-level-3 {
}

.category-level-2 li {
  font-weight: normal;
}
.category-level-3 li {
  font-style: italic;
}

.category_description{
  font-style: italic;
  color: #ccc;
  font-weight: normal;
}

.my_organizers li {
  list-style-type: square;
  margin: 0.1em 0 0.2em 2em;
}

.page_logotype {
  margin: 0 2em 1em 0;
}

.facebook_like {
  border: none;
  border: 0px;
  overflow: hidden;
  width: 450px;
  height: 35px; 
}

.iframe_me {
  width: 100%;
}





.break {
  width: 100%;
  height: 1px;
  margin: 0 0 -1px;
  clear: both;
}

.user_comment {
  font-style: italic;
}

.deployed {
  background-color: #ccc;
  color: #eee; 
}

  
.left {
  float: left;
}


#q-container {
  width: 100%;
  clear: both;
}

#q-container input {
  font-size: 2em;  
}

#q-container input#q {
  font-size: 2em;  
  width: 200px;
}

.larger {
  font-size: 150%;
}

.organizer-actions li {
  margin: 0 0 0.5em 1em;
  color: #ccc;
  list-style-type: square;
}

.organizer-actions {
  margin: 1em 0 4em 0;
  
}

.created-updated{
  font-size: 80%;
  color: #ccc;
}

.created-updated a{
  color: #ccc;
}

.img-edit{
  font-size: 80%;
  float: right;
}

.pagination {
  font-size: 1.2em;
}

.pagination a {
  background: #22a636;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0.2em;
  text-decoration: none;  
}

.pagination  a:visited{
  color: #000;
}
.pagination  a:active{
  color: #000;
}
.pagination  a:hover{
  color: #000;
}

