#user_nav {
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#mail_message {
  background-color: #DDD;
  padding: 20px 20px;
  margin: 20px 0;
}

.button_to {
  display: inline-block;
}

.user_list {
  background-color: #d4d0c8;
}

.authorized {
  background-color: #d4d0c8;
  padding: 2px 5px;
}

.user {
  display: inline-block;
  width: 400px;
}

.show_map {
  width: 100%; 
  height: 300px
}


#mapCanvas {
    width: 100%;
    height: 400px;
}
 
table.general {
	border-width: 1px;
	border-spacing: 2px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
	background-color: f7f7f7;
  width: 100%;
  text-align: left;
}


table.general caption {
  visibility: hidden; 
}

table.general th {
	border-width: 1px;
  padding: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
	background-color: #f7f7f7;
	font: 14px Arial, Helvetica, sans-serif;
}

table.general td {
  padding-left: 1em;
  padding-right: 1em;
}

table.general tr.odd {
	background-color: #f7f7f7;
}
table.general tr.even {
	background-color: white;
}

.general a {
  /*background-color: lightyellow;*/
  text-decoration: none;
  color: blue;
}

.general a:link{
  color: blue;
}

.general a:active{
  background-color: white;
  color: red;
  font-weight: bold;
}

.general a:hover{
  background-color: white;
  color: red;
}

.general a:visited{
  color: purple;
}

.number_column {
  text-align: right;
  }