


table.calendar {
	border-width: 1px;
	border-spacing: 2px;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
	border-style: outset;
	border-color: green;
	border-collapse: collapse;
	background-color: #f7f7f7;
  width: 100%;
}


table.calendar caption {
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
	padding: 0.3em;
	border-style: solid;
	border-color: green;
	background-color: #f7f7f7;
	font: bold 20px Arial, Helvetica, sans-serif;
	text-align: center;

}

table.calendar abbr {
  border: none;
}

table.calendar th {
	border-width: 1px;
	border-style: solid;
	border-color: green;
	background-color: #f7f7f7;
	font: bold 14px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

table.calendar td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #080;
	background-color: #f7f7f7;
}

.calendar thead {
  /* visibility: hidden; */
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}

table.calendar td.month_box {
	font-size: 200%;
  text-align: center;
  font-weight: bold;
}


.day_box {
  vertical-align: top;
  width: 3em;
  padding: 0 0.1em 0 0.1em;
}

.day_of_month {
  color: #000;
  font-size: 200%;

}  

.sondag {
  color: #c00;
}
.holiday {
  color: #c00;
}

.day_of_week {
	font: normal 70% Arial, Helvetica, sans-serif;
  text-align: center;
    

} 

.events_with_time {
  color: #000;
  list-style-type: none;
}

.events_without_time {
  color: #000;
  list-style-type: none;
  font-size: 80%;

}

.event {
}

.calendar a {
  text-decoration: underline;
  font-weight: normal;
}

.calendar a:link{
  color: #000;
}

.calendar a:active, .calendar a:hover, .calendar a:focus{
  background-color: white;
  color: #e72f2a;
}

.calendar a:visited{
  color: purple;
}
