%h6 Visar #{@events.count} av ... evenemang
= gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_adjust => false}, "markers" => {"data" => @markers, :options => { :do_clustering => true, randomize: true, :max_random_distance => 15 } })

.event_gallery
  %h5 Några nya evenemang
  - for event in @gallery
    = link_to (image_tag event.image1.url(:small), :width => "32%", :title => ( l(event.start_datetime, :format => :mini) + ': ' + event.subject + ' (' + event.category.name + ')' + '. ' + event.organizer.name + ', ' + event.municipality.short_name + '.' ), :alt => event.image1_caption, :class => :event_image), event_path(event)

<ul id="markers_list">  </ul>

%h3.aside_top Gillar du om Allom?

.social_box#facebook
  <fb:like-box href="https://www.facebook.com/pages/Allom/137994786272472" width="230" show_faces="true" border_color="#ffffff" stream="false" header="false"></fb:like-box>
.social_box#twitter
  %a.twitter-share-button{"data-lang" => "sv", "data-size" => "large", "data-via" => "allom_se", :href => "https://twitter.com/share"} Tweeta
.social_box#plusone
  .g-plusone{"data-annotation" => "inline", "data-href" => "http://allom.se/", "data-size" => "tall", "data-width" => "260"}
.social_box#email
  =link_to image_tag("email-button.png", :alt => "Tipsa en vän om det här evenemanget med ett mejl."), "", :title => "Tipsa en vän om det här evenemanget med ett mejl." 

%h3 Kom igång med Allom
%p Om fem minuter är ditt evenemang publicerat.
%p 
  =link_to "Vi guidar dig...", new_event_path

= #render 'screen_size'