<div class='screensize'>
Skärmstorlek:
<span class='screen-0'>
0..320
</span>
<span class='screen-320'>
320..480
</span>
<span class='screen-480'>
480..600
</span>
<span class='screen-600'>
600..768
</span>
<span class='screen-768'>
768..992
</span>
<span class='screen-992'>
992..
</span>
<span class='screen-retina'>
retina display
</span>
</div>