<% set_meta_tags :title => t('.page_title'),
                   :description => t('.meta_description') %>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, events_url(:format => 'rss') , {:title => t('.rss_title') }) %>
<% end %> 

    <h1>Allt som händer innan det är försent.</h1>
    
   
    
<% if @events.blank? %>  
  <p>Just nu hittar vi inte några inplanerade evenemang. </p>
<% else %>
  <%= calendar @events%>
<% end %> 

<p>
<%= link_to t('.subscribe_rss'), "/events.rss" %>  
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt')), "/event.rss" %>
</p>



