<p>
Hej!
</p>
<p>
<p>
För kännedom: <%= @ex %> <emphasis>är inte längre administratör</emphasis> för <%= @organizer %>s sida på Kalendern. Det var <%= @user %> som tog bort behörigheten.
</p>
<p>
Det här mejlet skickades automatiskt från Kalendern. Du kan inte svara på det här mejlet. Om du har frågor kring just ändringen av behörighet så kan du kontakta <%= @user %> som var den som tog bort behörigheten. Om du har frågor om Kalendern i allmänhet kan du kontakta vår kundtjänst. TODO adress.
</p>
<p>
Hälsningar från Kalendern.
</p>
<p>
TODO: Beskrivning av kalendern.
</p>