<% title(t('app.edit') + ' ' +@municipality.name) %>

<%= render 'form' %>

<p>
  <%= link_to t('municipality.edit.show'), @municipality %> |
  <%= link_to t('municipality.edit.list'), municipalities_path %>
</p>
