.content
  %article.article{:role => "main"}
    %header
      %h1 Alla Sveriges kommuner och vad som händer i dem
      %p Kolla in vad som händer i din kommun.

    - if current_user
      - if current_user.is_admin?
        %p
          = link_to "Lägg upp en ny kommunsida", new_municipality_path    
  
    %table.general
      %thead
        %tr
          %th Kommun (inplanerade/totalt)
          %th Nästa evenemang
      %tbody
        - for municipality in @municipalities
          %tr
            %td
              - if params[:recruit]
                = link_to municipality.name, municipality_path(municipality, :recruit => true )
              - else 
                = link_to municipality.name, municipality_path(municipality) 
            %td
              - unless municipality.next_event.nil?
                = link_to(l(municipality.next_event.start_datetime, :format => :shorty) + ', ' +municipality.next_event.subject + ' (' + municipality.next_event.organizer.name + ')', municipality.next_event, :title => municipality.next_event.try(:intro))
            
- set_meta_tags :title => "Evenemang i alla Sveriges kommuner.", :description => "Lägg in dina evenemang på evenemangskalendern Allom. Snabbt och enkelt. Kostnadsfritt konto. Alla evenemang i din kalender.", :canonical => "http://allom.se/municipalities/"
