/* formtastic_changes.css */



/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li { padding:0.5em 0; margin-bottom:0.5em; } 


/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li label { display:block;  padding-top:.2em; font-weight: bold; width: 100%}


/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints { color:#666; margin: 0; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-errors { color:#cc0000; margin:0.5em 0 0 0; border: solid 2px red; padding: 0.25em;}


/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.search input {  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box; width:100%; }
form.formtastic fieldset > ol > li.search input[size] {  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box; width:100%; }


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea { -webkit-box-sizing : border-box; -moz-box-sizing : border-box; width:100%; margin-bottom: 0em; }
form.formtastic fieldset > ol > li.text textarea[cols] {  -webkit-box-sizing : border-box; -moz-box-sizing : border-box; width:100%; } 



/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label { padding-left:0; width:auto; }
form.formtastic fieldset > ol > li.boolean label input {margin:0 0.5em 0 0.2em; vertical-align: 0; }


form.formtastic fieldset > ol > li fieldset ol.fragments-group {
  width: 100%;
  padding: 2em 0 0 0;
  
}



form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box; 
  width:100%;
  
}


form.formtastic fieldset > ol > li.string input[size], 
form.formtastic fieldset > ol > li.password input[size], 
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box; 
  width: auto;
  max-width: 100%; }


form.formtastic fieldset > ol > li fieldset ol {
  width: 100%;
  padding: 2em 0 1em 0;
  
}

form.formtastic fieldset > ol > li fieldset ol li ol {
  width: 90%;
  padding: 0 0 1em 10%;
  
}


form.formtastic fieldset > ol > li ol li ol li ol li label {
  font-weight: normal;
}


form.formtastic fieldset input,
form.formtastic fieldset select,{
  vertical-align: 0em;
}

form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0;
}

.category_description {
 font-weight: normal; 
 color: grey;
}

.mandatory_descr {
  margin-bottom: 1em;
}


#map_edit {
    width: 100%;
    height: 400px;
    margin: 1em 0 2em 0;
    
}