// greyscale

$black : rgb(0,0,0);
$darkergrey : lighten($black, 10%);
$darkgrey : lighten($black, 25%);
$grey : lighten($black, 50%);
$lightgrey : lighten($black, 75%);
$lightergrey : lighten($black, 90%);
$white : rgb(255,255,255);


// colour palettes

$dark_calendar : #d9e9f9;
$light_calendar : lighten($dark_calendar, 25%);

$allom_green : #13a538;
$allom_red :     #e72f2a; 
$light_allom_green : lighten(#13a538, 10%);
$dark_allom_green: #119833 ;
$darker_allom_green: darken($dark_allom_green, 15%);

$light_allom_red : lighten($allom_red, 15%);
$dark_allom_red: darken($allom_red, 15%);


$light_admin: #d9e4ef;
$dark_admin: #b3d2e5;
$darker_admin: darken($dark_admin, 15%) ;

$light_organizer: #d9ead3;
$dark_organizer: #b5d8ac;
$darker_organizer: darken($dark_organizer, 15%);

$light_type: #85ccee;
$dark_type: #00a3e0;
$darker_type: darken($dark_type, 15%);

$light_navigation: lighten(#13a538, 10%);
$dark_navigation: #119833;




/* formtastic_changes.css */

form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p 
{
 /* box-sizing: border-box;
  -webkit-box-sizing : border-box; 
  -moz-box-sizing : border-box; 
  */
}

/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset { 
  overflow:visible;
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing : border-box; 
  -moz-box-sizing : border-box; 
} 

form.formtastic fieldset > ol,
form.formtastic fieldset > ol > li,
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
  overflow:visible;
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing : border-box; 
  -moz-box-sizing : border-box;
}

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li { 
  padding:0.5em 0; 
  margin-bottom:0.5em; 
  /* overflow: visible;*/
} 


/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li label { 
  display:block;  
  padding-top:.2em; 
  font-weight: bold; 
  width: 100%;
  float: none;
}



/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints { color:#666; margin: 0; }


/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-errors { color:#cc0000; margin:0.5em 0 0 0; border: solid 2px red; padding: 0.25em;}


/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.search input {  
  width:100%; 
}


/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea { 
  width:100%; 
  margin-bottom: 0em; 
}



/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label { padding-left:0; width:auto; }
form.formtastic fieldset > ol > li.boolean label input {margin:0 0.5em 0 0.2em; vertical-align: 0; }


form.formtastic fieldset > ol > li fieldset ol.fragments-group {
  width: 100%;
  padding: 2em 0 0 0;
  
}






form.formtastic fieldset > ol > li fieldset ol {
  width: 100%;
  padding: 2em 0 1em 0;
}

form.formtastic fieldset > ol > li fieldset ol li ol {
  width: 90%;
  padding: 0 0 1em 10%;
  
}


form.formtastic fieldset > ol > li ol li ol li ol li label {
  font-weight: normal;
}


form.formtastic fieldset input,
form.formtastic fieldset select,{
  vertical-align: 0em;
}

form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0;
}

.category_description {
 font-weight: normal; 
 color: grey;
}

#event_category_input fieldset p.inline-hints {
  padding-top: 2em;
  margin-bottom: -1.5em;
}

#event_category_input fieldset p.inline-errors {
  margin-top: 2em;
  margin-bottom: -1.5em;
}

.mandatory_descr {
  margin-bottom: 1em;
}


#map_edit {
    width: 100%;
    height: 400px;
    margin: 1em 0 2em 0;
    
}

.edit_action {
  form input[type="submit"] { 
    @include background-image(linear-gradient($light_allom_red, $allom_red, $allom_red ));
    color: white;
    background-color: red;
    @include border-radius;
    font-size: 1.5em; 
    padding: 0.25em 1em 0.25em 1em;
    }
  }