%header.banner{:role => "banner"}
  .logotype_container
    %a{:href => "/"}
      =image_tag "evenemangskalendern-allom-evenemang.png", :alt => "Evenemangskalendern Alloms logotyp", :title => "till evenemangskalendern Alloms startsida", :width => "100%"

  .calendar_day.today
    .weekday #{l(DateTime.now, :format => :abbr_day_of_week)}
    .day_of_month #{l(DateTime.now, :format => :day_of_month)}
    .month #{l(DateTime.now, :format => :abbr_month_of_year)}
    .names Elvira Ärlig