%nav.navigation.clearfix{:role => "navigation"}
  //%h3#nav_menu
  //  Meny:
  %ul
    %li
      %a.menu{:href => "/", :title => "Sök evenemang. Alloms startsida."}
        Start     
    %li
      %a.menu{:href => "/events/new", :title => "Lägg in ditt evenemang på Allom. Snabbt och enkelt."}
        Lägg in evenemang
    %li
      %a.menu{:href => "/organizers", :title => "Alla arrangörer som använder Allom."}
        Arrangörerna
    %li
      %a.menu{:href => "/municipalities", :title => "Alla platser, orter eller kommuner där det finns evenemang."}
        Platserna
    %li
      %a.menu{:href => "http://info.allom.se/om-allom-evenemangskalendern/", :title => "Om evenemangskalendern Allom"} 
        Om Allom
    %li
      - if user_signed_in?
        = link_to "Konto / logga ut", current_user, :title => "Gå till sidan för ditt användarkonto. Där kan du byta lösenord eller logga ut.", :class => :menu
      - else
        = link_to "Logga in / konto", new_user_session_path, :title => "Skaffa användarkonto, logga in, byt lösenord. Det kostar inte något att ha ett konto på Allom", :class => :menu
