%nav.navigation.clearfix{:role => "navigation"}
  //%h3#nav_menu
  //  Meny:
  %ul
    %li
      %a.menu{:href => "/", :title => "Sök evenemang. Alloms startsida."}
        Start     
    %li
      %a.menu{:href => "/events/new", :title => "Lägg in ditt evenemang på Allom. Snabbt och enkelt."}
        Lägg in evenemang
    %li
      %a.menu{:href => "/organizers", :title => "Alla arrangörer som använder Allom."}
        Arrangörerna
    %li
      %a.menu{:href => "/municipalities", :title => "Alla platser, orter eller kommuner där det finns evenemang."}
        Platserna
    %li
      %a.menu{:href => "", :title => "Om evenemangskalendern Allom"} 
        Om Allom
    %li
      %a.menu{:href => "#login", :title => "Registrera dig, logga in, byt lösenord, ändra dina inställningar. Det kostar inget att ha ett konto på Allom."} 
        Logga in / konto        
