!!! 5
%html_tag{:lang => :sv} 
  %head
  %body
    %p Hej!
    %p Det här mejlet kommer från någon som använt kontaktformuläret på Allom - evenemangskalendern. Du står som kontaktperson för evenemanget #{Event.find(@mail_message.event_id).subject}.
    = render 'event_contact'