!!! 5
%html_tag{:lang => :sv} 
  %head
  %body
    %p Hej!
    %p Det här mejlet kommer från någon som använt kontaktformuläret på Allom - evenemangskalendern.
    %p Du får det här mejlet för att den person som skrivit arrangörssidan angett din mejladress som kontaktinformation.
    
    = render "organizer_contact"