<p>Hej 
<% if @resource.first_name then %>  
<%= @resource.first_name %>
<% else %> 
<%= @resource.email %>
<% end %>
!</p>

<p>Välkommen till <a href = "http://allom.se">Allom - kalendern med allt som händer innan det är för sent</a>.</p>
<p>Bekräfta ditt nya användarkonto.</p>

<p><%= link_to 'Bekräfta användarkontot', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Om du inte skapat ett användarkonto på Allom så kan du slänga det här mejlet. Någon angav antagligen din mejladress av misstag.
</p>

<p>Det här mejlet skickades automatiskt från Allom. Du kan inte svara på det här mejlet. Om du har frågor om Allom i allmänhet kan du kontakta vår kundtjänst, http://info.allom.se/kundtjanst-kontakt/.</p>