<p>Hej!</p>

<p><%= (User.find @resource.invitor).name %> bjudit in dig till Kalendern.<br /> 
Klicka på länken nedan för att skapa ett kostnadsfritt användarkonto.</p>

<p><%= link_to 'Ja, jag vill ha ett konto på Kalendern.', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Om länken inte fungerar i din mejlläsare, kopiera länken<br />
nedan och klistra in den i adressfältet på din webbläsare.</p>

<p><code><%= accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></code></p>

<p>Kalendern är en tjänst som.... TODO beskrivning här. </p>

<p>Om du inte vill ha ett användarkonto på Kalendern så <br />
kan du bara slänga det här mejlet. Användarkontot skapas <br />
bara om du klickar på länken här ovanför.</p>

<p>Det här mejlet skickades automatiskt. <br />
Du kan inte svara på det. Om du har frågor, kontakta: </br>
TODO: mejladress här </p>
