<p>Hej 
<% if @resource.first_name then %>  
<%= @resource.first_name %>
<% else %> 
<%= @resource.email %>
<% end %>
!</p>

<p>Någon, antagligen du själv, har begärt ändring av lösenordet till ditt användarkonto på Allom. Klicka på länken för att ändra lösenordet.</p>

<p><%= link_to 'Ändra lösenord på Allom', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Om du inte beställt upplåsning av lösenordet så kan du slänga det här mejlet.</p>
<p>Ditt lösenord går inte att ändra utan tillgång till det här mejlet.</p>
