<p>Hej 
<% if @resource.first_name then %>
<%= @resource.first_name %>
<% else %>
<%= @resource.email %>
<% end %>
!</p>
<p>Någon, kanske du själv, har gjort många misslyckade inloggningsförsök på ditt användarkonto på Allom. Vi blev orolig att någon försöker bryta sig in. Därför har vi automatiskt låst ditt användarkonto.</p>

<p>Klicka på länken för att låsa upp ditt användarkonto på Allom.</p>

<p><%= link_to 'Lås upp mitt användarkonto på Allom.', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
